<div class="container-grid language deutsch">
  <header class="container-grid wrap-title-episode">
    <header class="container-grid title-size">
      <h1 class="title-episode">Reflective Film tyska<br></h1>
    </header>
  </header>
  <article class="container-grid wrap-main-text-episodes reflective">
    <main class="container-grid container-main-text-episodes reflective">
      <div class="container-grid container-1">
        <main class="container-grid main-text-episodes reflective">
          <h2 class="h2 reflective">We are so delighted that you want to download the film!<br></h2>
          <p class="paragraph main-text-ep">In order for us to get an idea of how the film is distributed and in what contexts it is used, we are grateful that you answer two questions before you go to the Vimeo download page. The information is important for us to be able to evaluate the project.<br><br>Thank you!</p>
        </main>
      </div>
      <div class="container-grid container-3">
        <div class="rule rule-1 upper-refllective">
          <hr>
        </div>
        <h2 class="h2 reflective">Stream or download from Vimeo:<br></h2>
        <p class="paragraph paragraph-2">Please answer these two questions to be able to download.</p>
        <form class="form-container form-container-2">
          <p class="paragraph paragraph-3">Which organisation do you represent?</p><input value="" name="Q1" type="text" class="input-5">
          <p class="paragraph paragraph-4">If you intend to show the film, in which context is that?</p><input value="" name="Q2" type="text" class="input-6">
        </form>
        <div class="container-grid container-2"><a class="link-button btn btn-1002 evaluation full-video" href="#"><span class="button-link-text-7"><span class="button-link-text-7" id="button-link-text-1">Full video</span></span></a><a class="link-button btn btn-1002 evaluation chapter" href="#">
            <font color="#ffffff">Chapter 1</font>
          </a><a class="link-button btn btn-1002 evaluation chapter" href="#">
            <font color="#ffffff">Chapter 2</font>
          </a><a class="link-button btn btn-1002 evaluation chapter" href="#"><span class="button-link-text-8"><span class="button-link-text-8" id="button-link-text-2">Chapter 3</span></span></a><a class="link-button btn btn-1002 evaluation chapter" href="#">
            <font color="#ffffff">Chapter 4</font>
          </a></div>
        <div class="rule rule-2">
          <hr>
        </div>
      </div>
    </main>
  </article>
</div>
