<div class="container-grid wrap-main-text row">
    <div class="container p-3 my-3 text-center">
        <h1>Välkommen!</h1> 
    </div>    
</div>

<div class="container p-3 my-3 text-center">
    <article class="container-grid wrap-main-text">
    
        <blockquote class="quote-text"><span class="blockquote-text-1">”Lorem ipsum dolor sit amet, consectetur adipiscing <span class="blockquote-text-1">elit</span>. Integer posuere erat a ante.”</span></blockquote>
        <main class="container-grid container-main-text">
        <h2 class="Heading-main-text">This is what it´s all about</h2>
        <p class="paragraph main-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh risus, sagittis nec suscipit nec, mollis laoreet eros. Donec faucibus, libero id faucibus scelerisque, justo justo nullam sodales.&nbsp;Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh risus, sagittis nec suscipit nec, mollis laoreet eros. Donec faucibus, libero id faucibus scelerisque, justo justo nullam sodales.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque nibh risus, sagittis nec suscipit nec, mollis laoreet eros. Donec faucibus, libero id faucibus scelerisque, justo justo nullam sodales.</p>
        </main>
    </article>
</div>