/* Text Elements */

h1 span.heading-text-3 {
  font-weight: 500;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h1.title-episode {
  font-size: 24px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 28px;
}

h2.h2 {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 22px;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3.navbar-brand {
  margin-top: 8px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 0;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

h3.nav-col.navbar-brand {
  margin-bottom: 8px;
  color: #000;
  font-weight: 700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

h3 span.heading-text-1 {
  color: #000;
}

h3 span.heading-text-2 {
  color: #000;
  font-size: 1rem;
}

p.paragraph.paragraph-1 {
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
  background-color: transparent;
  text-align: left;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p.paragraph.main-text {
  margin-right: 0;
}

p.paragraph.main-text.paragraph-1 {
  margin-top: 10px;
  margin-bottom: 16px;
}

p.paragraph span.paragraph-text-1 {
  color: #fff;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

p.paragraph span.paragraph-text-2 {
  font-weight: 700;
}

p.paragraph span.paragraph-text-3 {
  font-weight: 700;
}

p.paragraph.text-footer {
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  padding-top: 20px;
  text-align: center;
}

p.paragraph a.paragraph-text-5 {
  color: #fff;
}

p.paragraph a.paragraph-text-5:hover {
  text-decoration: underline;
}

dl.description-list.description-ext-link {
  display: block;
  float: none;
  clear: none;
  margin-bottom: 0;
  min-width: 300px;
  max-width: none;
  width: auto;

  justify-self: auto;
  grid-area: auto /auto/ auto / auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
}

blockquote.quote-text {
  margin: 50px 0 0;
  padding-top: 50px;
  padding-right: 0;
  padding-bottom: 30px;
  min-width: 0;
  min-height: auto;
  max-width: 90%;
  height: auto;
  border-top-width: .125rem;
  border-top-style: solid;
  border-right-width: .625rem;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;
  text-align: center;
  font-size: 40px;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1.3;

  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  background-blend-mode: normal;
}

blockquote span.blockquote-text-1 {
  color: #565656;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5rem;
  font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  line-height: 1.3;
}

a.link-text.nav-link {
  margin-right: 4px;
  margin-left: 4px;
  padding: 5px 8px 8px;
  text-align: center;
}

a.link-text.nav-col.nav-link {
  color: rgba(0, 0, 0, .75);
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a.link-text.text-link-1 {
  display: block;
  height: auto;
  background-color: transparent;
  color: #000;
  text-align: left;
  font-weight: 700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
}

a.link-text.text-link-2 {
  display: block;
}

a.link-text span.text-link-text-1 {
  color: #000;
  font-weight: 700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

a.link-text.nav-col.nav-link:visited {
  color: rgba(0, 0, 0, .75);
}

a.link-text.nav-col.nav-link:focus {
  color: rgba(0, 0, 0, .75);
}

a.link-text.nav-col.nav-link:hover {
  color: #fd4e00;
}

a.link-text.text-link-1:hover {
  color: #fd4e00;
  text-decoration: underline;
}

a.link-text span.text-link-text-1:hover {
  color: #fd4e00;
  text-decoration: underline;
}

a.link-text.nav-col.nav-link:active {
  color: #000;
  text-decoration: underline;
  text-indent: 0;
  font-weight: 900;
  font-size: 16px;
}

/* Interaction Elements */

a.link-button.btn-lecture {
  position: static;
  display: block;
  overflow: visible;
  margin-top: 10px;
  margin-right: 10px;
  padding-top: 3px;
  padding-bottom: 6px;
  padding-left: 60px;
  min-width: 308px;
  min-height: 50px;
  max-width: 420px;
  max-height: 50px;
  height: auto;
  background-image: url('../1.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: repeat;
  color: #000;
  vertical-align: middle;
  text-align: left;
  font-weight: 700;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 20px;

  background-blend-mode: normal;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  justify-self: auto;
  grid-area: auto / auto / auto / auto;
}

a.link-button.btn-fill.btn-lecture {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  min-height: 1px;
  max-height: 1px;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-fill {
  min-height: 10px;
  max-height: 10px;
}

a.link-button.btn-1.btn-lecture {
  background-image: url('../1.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-2.btn-lecture {
  background-image: url('../2.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-3.btn-lecture {
  background-image: url('../3.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-4.btn-lecture {
  background-image: url('../4.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-5.btn-lecture {
  background-image: url('../5.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-6.btn-lecture {
  background-image: url('../6.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-7.btn-lecture {
  background-image: url('../7.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-8.btn-lecture {
  background-image: url('../8.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-9.btn-lecture {
  background-image: url('../9.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-11.btn-lecture {
  background-image: url('../11.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-12.btn-lecture {
  background-image: url('../12.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-10.btn-lecture {
  background-image: url('../10.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-13.btn-lecture {
  background-image: url('../13.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn-14.btn-lecture {
  background-image: url('../14.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.link-button.btn {
  display: inline-block;
  float: none;
  clear: none;
  padding-top: 2px;
  padding-bottom: 2px;
  min-height: auto;
  height: 30px;
  background-color: #aaa9a7;
}

a.link-button.btn:hover {
  background-color: #fd4e00;
}

/* Layout Elements */

body.body-1 {
  position: static;
  min-height: auto;
  background-color: #ebeae6;
}

.container-grid.container-nav {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: start;
  -ms-flex-align: start;
  margin-top: 10px;
  margin-bottom: 50px;
  margin-left: 15px;
  padding-top: 30px;
  padding-right: 10px;
  min-width: 0;
  max-width: none;
  vertical-align: baseline;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  -webkit-box-flex: 0;
  -webkit-flex: 0 1;
     -moz-box-flex: 0;
      -ms-flex: 0 1;
          flex: 0 1;
}

.container-grid.footer-container-wrap {
  position: static;
  display: block;
  -ms-flex-order: 0;
  float: none;
  clear: none;
  margin-top: 60px;
  padding-top: 0;
  padding-bottom: 0;
  min-height: auto;
  height: auto;
  background-color: #282828;
  text-align: center;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  justify-self: auto;
  grid-area: auto / auto /auto/ auto;
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
     -moz-box-ordinal-group: 1;
          order: 0;
}

.container-grid.navbar.navbar-dark.navbar-expand-lg {
  margin-top: 0;
  margin-bottom: 0;
  padding: 4px 16px 4px 15px;
  background-color: #fff;
}

a.responsive-picture.picture-link-1 {
  margin-top: 4px;
  margin-right: 4px;
  margin-bottom: 6px;
  max-width: 50px;
  width: auto;
  background-image: url('../O.png');
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

.container-grid.container-main-text {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  margin-top: 60px;
  margin-right: 10px;
  margin-left: 20px;
  padding-right: 0;
  max-width: none;

  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.container-grid.wrap-main-text {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -ms-flex-pack: start;
  -ms-flex-align: center;
  margin-top: 0;
  margin-bottom: 20px;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-align-content: flex-start;
  -ms-flex-line-pack: start;
          align-content: flex-start;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
     -moz-box-orient: vertical;
     -moz-box-direction: reverse;
}

.container-grid.con-video-bgr {
  margin-top: 20px;
  background-color: #282828;
}

.container-grid.con-video-size {
  margin-right: auto;
  margin-left: auto;
  max-width: 768px;
  max-height: 432px;
}

.container-grid.nav-video {
  position: static;
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -ms-flex-pack: justify;
  -ms-flex-align: center;
  margin-right: auto;
  margin-left: auto;
  max-width: 728px;
  max-height: none;
  height: 50px;

  -webkit-align-content: center;
  -ms-flex-line-pack: center;
          align-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
     -moz-box-align: center;
          align-items: center;
  justify-self: auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
     -moz-box-pack: justify;
          justify-content: space-between;
}

button.btn {
  display: inline-block;
  text-align: center;

  justify-self: auto;
}

button span.button-text-1 {
  font-weight: 300;
  font-size: 2.5rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1;
}

button span.button-text-2 {
  font-weight: 300;
  font-size: 2.5rem;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  line-height: 1;
}

.container-grid.wrap-nav-video {
  max-width: none;
  max-height: none;
  height: 50px;
  background-color: #e1e0dd;
}

.container-grid.wrap-worksheet {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: start;
  float: none;
  clear: none;
  margin-top: 20px;
  padding-right: 20px;
  padding-left: 0;
  min-width: 0;
  min-height: 30px;
  max-height: 30px;
  width: 100%;
  text-align: left;

  -webkit-flex-wrap: nowrap;
      -ms-flex-wrap: nowrap;
          flex-wrap: nowrap;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
     -moz-box-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
     -moz-box-orient: horizontal;
     -moz-box-direction: normal;
  grid-area: auto/ auto /auto/ auto;
  justify-self: auto;
}

a.responsive-picture.picture-link-2 {
  margin-right: 10px;
  padding: 3px;
  min-width: 30px;
  min-height: 30px;
  max-width: 30px;
  max-height: 30px;
  width: auto;
  height: auto;
  border-radius: 4px;
  background-color: #e1e0dd;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  background-blend-mode: normal;
}

a.responsive-picture.picture-link-2 > picture {
  height: auto;
}

.container-grid.wrap-ext-links {
  margin-top: 20px;
  margin-bottom: 20px;
  min-width: 100px;
  width: 100%;

  justify-self: auto;
  grid-area: auto/ auto /auto/ auto;
}

.rule.rule-1 {
  margin-top: 30px;
  width: 100%;
}

.rule.rule-2 {
  width: 100%;
}

dd.list-description-1 {
  margin-bottom: 0;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.rule.rule-2 hr {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, .2);
}

.rule.rule-1 hr {
  border-top-width: 1px;
  border-top-color: rgba(0, 0, 0, .2);
}

.container-grid.dropdown {
  position: relative;
  bottom: auto;
  float: none;
  clear: none;
  padding-top: 20px;
  width: 100%;
  border: 0 none #282828;
  opacity: .99;
}

div.responsive-picture.picture-1 {
  margin: 40px auto 0;
  padding: 10px 20px;
  min-height: 50px;
  max-width: 210px;
  max-height: 50px;
  width: auto;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #fff;
  background-image: none;
  background-attachment: scroll;
  background-position: left top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: 0 0;
  background-repeat: no-repeat;

  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  background-blend-mode: normal;
}

button.btn.button.navbar-toggler.navbar-toggler-icon {
  min-width: 0;
  max-width: 40px;
  max-height: 40px;
  width: 36px;
  height: 36px;
  background-color: transparent;
  background-image: url('../hamburgermenu.png');
  background-size: contain;
}

.container-grid.wrap-title-episode {
  margin-top: 20px;
}

.container-grid.title-size {
  display: -webkit-box;
  display: -webkit-flex;
  display:    -moz-box;
  display: -ms-flexbox;
  display:         flex;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  max-width: 798px;
}

.container-grid.title-number {
  position: static;
  display: inline-block;
  -ms-flex-align: start;
  margin-right: 10px;
  margin-bottom: 0;
  padding-bottom: 0;
  min-width: 50px;
  max-width: 50px;
  background-image: url('../1.png');
  background-attachment: local;
  background-position: center top;
  background-clip: border-box;
  background-origin: padding-box;
  background-size: contain;
  background-repeat: no-repeat;

  justify-self: auto;
  -webkit-align-self: auto;
  -ms-flex-item-align: auto;
          align-self: auto;
  background-blend-mode: normal;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
     -moz-box-align: start;
          align-items: flex-start;
  grid-area: auto / auto / auto / auto;
}

.container-grid.inner-wrap-link-description {
  margin-bottom: 16px;
  min-width: 50px;
  min-height: 50px;
}

.container-grid.dropdown.outofview {
  border-color: transparent;
}

.container-grid.dropdown:hover {
  border-color: transparent;
}

.container-grid.dropdown:active {
  border-color: transparent;
}

@media screen and (min-width: 36rem) {
  /* Text Elements */

  h1.title-episode {
    font-size: 34px;
    line-height: 38px;
  }

  p.paragraph.paragraph-1 {
    margin-bottom: 16px;
    padding-top: 0;
  }

  p.paragraph.main-text.paragraph-1 {
    margin-top: 10px;
  }

  p.paragraph.text-footer {
    margin-right: auto;
    margin-left: auto;
  }

  blockquote.quote-text {
    margin-top: 50px;
    padding-top: 50px;
  }

  /* Interaction Elements */

  a.link-button.btn-lecture {
    position: static;
    display: block;
    float: none;
    clear: none;
    margin-left: 0;
    padding-right: 12px;
    padding-left: 60px;
    min-width: 420px;
    max-width: 420px;
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;
    color: #000;
    vertical-align: middle;
    font-weight: 700;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;

    justify-self: auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
            align-self: auto;
    background-blend-mode: normal;
  }

  .container-grid.container-nav {
    -ms-flex-pack: center;
    -ms-flex-align: start;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  .container-grid.container-main-text {
    max-width: 540px;
  }

  a.responsive-picture.picture-link-1 {
    margin-right: 8px;
  }
}

@media screen and (min-width: 42.375rem) {
  /* Text Elements */

  p.paragraph.main-text.paragraph-1 {
    margin-top: 10px;
    margin-bottom: 16px;
  }

  blockquote.quote-text {
    margin-top: 50px;
  }

  /* Interaction Elements */

  a.link-button.btn-lecture {
    margin-right: 20px;
    min-width: 420px;
    max-width: 420px;
  }

  .container-grid.container-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: center;
    -ms-flex-align: start;
    margin-left: 15px;
    max-width: 1500px;
    max-height: none;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-main-text {
    -ms-flex-pack: start;
    max-width: 540px;

    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  .container-grid.wrap-main-text {
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;

    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
       -moz-box-orient: vertical;
       -moz-box-direction: reverse;
  }

  .container-grid.wrap-nav-video {
    max-height: 50px;
    height: 50px;
  }

  .container-grid.nav-video {
    max-height: 50px;
    height: 50px;
  }

  button.btn.button.navbar-toggler.navbar-toggler-icon {
    visibility: visible;
    width: 36px;
    height: 36px;
  }
}

@media screen and (min-width: 48rem) {
  /* Text Elements */

  p.paragraph.main-text {
    margin-right: 40px;
  }

  p.paragraph.main-text.paragraph-1 {
    margin-top: 50px;
  }

  blockquote.quote-text {
    margin-right: 50px;
    margin-left: 20px;
    padding-top: 0;
    padding-right: 50px;
    max-width: 40%;
    border-top-width: 0;
    border-right-width: .125rem;
    border-right-style: solid;
    text-align: right;
    font-size: 40px;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
    line-height: 1.3;
  }

  blockquote span.blockquote-text-3 {
    font-size: 2.5rem;
  }

  blockquote span.blockquote-text-1 {
    font-size: 2.5rem;
    line-height: 1.3;
  }

  /* Interaction Elements */

  a.link-button.btn-lecture {
    min-width: 338px;
    max-width: 338px;
  }

  .container-grid.container-nav {
    -ms-flex-pack: center;
    padding-right: 10px;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-main-text {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: start;
    -ms-flex-align: start;
    margin-top: 40px;
    margin-right: 0;
    margin-left: 0;
    max-width: 700px;

    -webkit-align-content: flex-start;
    -ms-flex-line-pack: start;
            align-content: flex-start;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
  }

  .container-grid.wrap-main-text {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container-grid.collapse.navbar-collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    visibility: visible;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: start;
    -ms-flex-align: center;
    max-height: none;

    -webkit-box-flex: 1;
    -webkit-flex: auto;
       -moz-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
    -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
            flex-wrap: nowrap;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
       -moz-box-pack: start;
            justify-content: flex-start;
  }

  .container-grid.collapse {
    display: inline-block;
  }

  li.list-item-container.nav-item {
    min-width: 0;
  }

  ul.list-container.navbar-nav {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  button.btn.button.navbar-toggler.navbar-toggler-icon {
    visibility: hidden;
  }
}

@media screen and (min-width: 62rem) {
  /* Text Elements */

  p.paragraph.paragraph-1 {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  }

  blockquote.quote-text {
    text-align: right;
    font-size: 42px;
    font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
  }

  blockquote span.blockquote-text-2 {
    line-height: 1.3;
  }

  /* Interaction Elements */

  a.link-button.btn-1.btn-lecture {
    padding-left: 60px;
  }

  .container-grid.container-nav {
    -ms-flex-pack: center;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
  }

  .container-grid.container-main-text {
    max-width: 700px;
  }

  button.btn.button.navbar-toggler.navbar-toggler-icon {
    display: block;
    visibility: hidden;
  }

  .container-grid.collapse.navbar-collapse {
    -ms-flex-align: center;

    -webkit-box-align: center;
    -webkit-align-items: center;
       -moz-box-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 75rem) {
  /* Interaction Elements */

  a.link-button.btn-lecture {
    background-attachment: scroll;
    background-position: left top;
    background-clip: border-box;
    background-origin: padding-box;
    background-size: 0 0;
    background-repeat: no-repeat;

    background-blend-mode: normal;
  }

  .container-grid.container-nav {
    -ms-flex-pack: center;
    -ms-flex-align: start;
    padding-right: 10px;
    max-width: none;

    -webkit-box-pack: center;
    -webkit-justify-content: center;
       -moz-box-pack: center;
            justify-content: center;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
       -moz-box-align: start;
            align-items: flex-start;
  }

  ul.list-container.navbar-nav {
    padding-left: 0;
  }

  li.list-item-container.nav-item {
    margin-left: 0;
    padding-left: 0;
  }

  .container-grid.wrap-main-text {
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;

    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
       -moz-box-orient: horizontal;
       -moz-box-direction: normal;
  }

  .container-grid.con-video-bgr {
    margin-top: 20px;
    min-width: 100px;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
  }

  .container-grid.con-video-size {
    margin-right: auto;
    margin-left: auto;
    max-width: 768px;
    max-height: 432px;
  }

  button.btn.button.navbar-toggler.navbar-toggler-icon {
    background-color: transparent;
  }

  .container-grid.title-size {
    display: -webkit-box;
    display: -webkit-flex;
    display:    -moz-box;
    display: -ms-flexbox;
    display:         flex;
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    max-width: 798px;
  }
}