
  <article class="container-grid wrap-main-text overview">
    <main class="container-grid container-main-text-about ingress">
      <main class="container-grid main-text-about" [innerHTML]="mainPageData[0].acf.quoteblock">
        <div class="lds-dual-ring"></div>        
      </main>
    </main>
    <main class="container-grid container-main-text-about main">
      <main class="container-grid main-text-about" >
        <div [innerHTML]="mainPageData[0].acf.maincontent">
          <div class="lds-dual-ring"></div>
        </div>  
        <a class="link-button btn btn-1002 overview" routerLink="/episodes/episode-1" title="Centre Stage Online - Episode 1">
          <span class="button-link-text-6"><span class="button-link-text-6" id="button-link-text-1">{{btnstart}}</span></span>
        </a>
      </main>
    </main>
  </article>
  
    <app-coursenav></app-coursenav>  

  