<footer class="container-grid footer-container-wrap">
    <div class="container-grid footer-container row">
      <div class="container-grid container-1 col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3">
        <p class="paragraph paragraph-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et metus.</p>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-2">
        <p class="paragraph paragraph-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et metus.</p>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-3">
        <p class="paragraph paragraph-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et metus.</p>
      </div>
      <div class="container-grid col col-12 col-sm-3 col-md-3 col-lg-3 col-xl-3 container-4">
        <p class="paragraph paragraph-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas et metus.</p>
      </div>
    </div>
  </footer>
