  <footer class="container-grid footer-container-wrap">
    <div class="dropdown container-grid" data-outofview="true"></div>
    <p class="paragraph text-footer"><span class="paragraph-text-1"><span class="paragraph-text-1" id="paragraph-text-1"><span class="paragraph-text-2">Information and contact | Centre Stage</span><br>Katarina Hultin,&nbsp;Project manager<br>katarina.hultin@vgregion.se <br><br><span class="paragraph-text-3"><a title="" href="http://www.kulturivast.se/centre-stage" class="paragraph-text-5">kulturivast.se/centre-stage </a></span><br></span></span></p>
      <select [(ngModel)]='selectedval' id="drplang" (change)="selectLanguageChangeHandler($event)" >            
          <option *ngFor="let langitm of langdrp" [value]="langitm.type" >{{langitm.name}}</option>
      </select>
      <div class="responsive-picture picture-1">
      <picture><img alt="Placeholder Picture" src="./assets/EU-logga_600.png"></picture>
    </div>
  </footer>