<div class="container-grid navbar navbar-expand-lg navbar-dark"><a href="#" class="responsive-picture picture-link-1">
    <picture><img alt="Placeholder Picture" src="./O.png"></picture>
  </a>
  <h3 class="navbar-brand nav-col">Centre Stage Online</h3><button type="button" class="btn navbar-toggler navbar-toggler-icon button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"></button>
  <div class="container-grid collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="list-container navbar-nav">
      <li class="list-item-container nav-item">
        <a class="link-text nav-link nav-col" href="#">About</a>
      </li>
      <li class="list-item-container nav-item">
        <a class="link-text nav-link nav-col" href="#">Overview</a>
      </li>
      <li class="list-item-container nav-item">
        <a class="link-text nav-link nav-col" href="#">Lectures</a>
      </li>
      <li class="list-item-container nav-item">
        <a class="link-text nav-link nav-col" href="#">Credits</a>
      </li>
    </ul>
  </div>
</div>
