<nav class="container-grid container-nav" id="all-episodes">
  <a class="link-button btn-lecture btn-1" routerLink="/lectures/episode-1" routerLinkActive="active" title="episode_01">    
    Why watch these videos?    
  </a>
  <a class="link-button btn-lecture btn-2" routerLink="/lectures/episode-2" routerLinkActive="active" title="episode_02">
    Getting what you want
  </a>
  <a class="link-button btn-lecture btn-3" routerLink="/lectures/episode-3" routerLinkActive="active" title="episode_03">
    Who do you want to be
  </a>
  <a class="link-button btn-lecture btn-4" routerLink="/lectures/episode-4" routerLinkActive="active" title="episode_04">
    Creating change
    <br />
    part 1 and 2
    <br />    
  </a>
  <a class="link-button btn-lecture btn-5" routerLink="/lectures/episode-5" routerLinkActive="active" title="episode_05">
    Talking to the&nbsp;right people about the right things
    <br />
  </a>
  <a class="link-button btn-lecture btn-6" routerLink="/lectures/episode-6" routerLinkActive="active" title="episode_06">
    Obstacles
  </a>
  <a class="link-button btn-lecture btn-7" routerLink="/lectures/episode-7" routerLinkActive="active" title="episode_07">
    Getting jobs
  </a>
  <a class="link-button btn-lecture btn-8" routerLink="/lectures/episode-8" routerLinkActive="active" title="episode_08">
    Getting your message across
  </a>
  <a class="link-button btn-lecture btn-9" routerLink="/lectures/episode-9" routerLinkActive="active" title="episode_09">
    Overcoming obstacles
  </a>
  <a class="link-button btn-lecture btn-10" routerLink="/lectures/episode-10" routerLinkActive="active" title="episode_10">
    Choosing the right image
  </a>
  <a class="link-button btn-lecture btn-11" routerLink="/lectures/episode-11" routerLinkActive="active" title="episode_11">
    Getting media coverage
    <br />
    part 1 and 2
  </a>
  <a class="link-button btn-lecture btn-12" routerLink="/lectures/episode-12" routerLinkActive="active" title="episode_12">
    Dealing with difficult situations
  </a>
  <a class="link-button btn-lecture btn-13" routerLink="/lectures/episode-13" routerLinkActive="active" title="episode_13">
    Getting your message across online
  </a>
  <a class="link-button btn-lecture btn-14" routerLink="/lectures/episode-14" routerLinkActive="active" title="episode_14">
    Evaluation
  </a>
  <a class="link-button btn-lecture btn-fill" href="#"></a>
  <a class="link-button btn-lecture btn-fill" href="#"></a>
</nav>
