<nav class="container-grid all-episodes" id="all-episodes">
  <a class="link-button btn-lecture btn-1" routerLink="/episodes/episode-1" routerLinkActive="active" title="episode_01">    
    {{courselangdata.one.linktext}}
  </a>
  <a class="link-button btn-lecture btn-2" routerLink="/episodes/episode-2" routerLinkActive="active" title="episode_02">
    {{courselangdata.two.linktext}}
  </a>
  <a class="link-button btn-lecture btn-3" routerLink="/episodes/episode-3" routerLinkActive="active" title="episode_03">
    {{courselangdata.three.linktext}}
  </a>
  <a class="link-button btn-lecture btn-4" routerLink="/episodes/episode-4" routerLinkActive="active" title="episode_04">
    {{courselangdata.four.linktext}}
  </a>
  <a class="link-button btn-lecture btn-5" routerLink="/episodes/episode-5" routerLinkActive="active" title="episode_05">
    {{courselangdata.five.linktext}}
    <br />
  </a>
  <a class="link-button btn-lecture btn-6" routerLink="/episodes/episode-6" routerLinkActive="active" title="episode_06">
    {{courselangdata.six.linktext}}
  </a>
  <a class="link-button btn-lecture btn-7" routerLink="/episodes/episode-7" routerLinkActive="active" title="episode_07">
    {{courselangdata.seven.linktext}}
  </a>
  <a class="link-button btn-lecture btn-8" routerLink="/episodes/episode-8" routerLinkActive="active" title="episode_08">
    {{courselangdata.eight.linktext}}
  </a>
  <a class="link-button btn-lecture btn-9" routerLink="/episodes/episode-9" routerLinkActive="active" title="episode_09">
    {{courselangdata.nine.linktext}}
  </a>
  <a class="link-button btn-lecture btn-10" routerLink="/episodes/episode-10" routerLinkActive="active" title="episode_10">
    {{courselangdata.ten.linktext}}
  </a>
  <a class="link-button btn-lecture btn-11" routerLink="/episodes/episode-11" routerLinkActive="active" title="episode_11">
    {{courselangdata.eleven.linktext}}
  </a>
  <a class="link-button btn-lecture btn-12" routerLink="/episodes/episode-12" routerLinkActive="active" title="episode_12">
    {{courselangdata.twelve.linktext}}
  </a>
  <a class="link-button btn-lecture btn-13" routerLink="/episodes/episode-13" routerLinkActive="active" title="episode_13">
    {{courselangdata.thirteen.linktext}}
  </a>
  <a class="link-button btn-lecture btn-14" routerLink="/episodes/episode-14" routerLinkActive="active" title="episode_14">
    {{courselangdata.fourteen.linktext}}
  </a>
  <a class="link-button btn-lecture btn-fill" href="#"></a>
  <a class="link-button btn-lecture btn-fill" href="#"></a>
</nav>
